{% extends "base.html" %}{% load static ui %}
{% block title %}Laporan Murid & SPP{% endblock %}
{% block extra_head %}
  <script src="{% static 'vendor/chart.umd.min.js' %}" defer></script>
  <script src="{% static 'js/dashboards.js' %}" defer></script>
{% endblock %}
{% block content %}
{% pageheader title="Laporan Murid & SPP" subtitle="Status bulan terpilih (DB Murid) dan buku kas · bisa disaring tanpa muat ulang" icon="chart-bar" %}{% endpageheader %}
<div id="laporan-body">{% include "dashboards/_laporan_body.html" %}</div>
{% endblock %}
